.app__wrapper {
  .custom__uploader {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 33.5px;
    line-height: 19.999px;
    margin-bottom: 7px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .custom__uploader-input {
      width: 100%;
      margin-bottom: 7px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}
