.app__wrapper {
  .style__card.card {
    border: 0px;
    perspective: 1000px;
    .content {
      border: 0px;
    }
    :hover {
      cursor: pointer;
    }
  }

  .style__card.style__card--selected.card {
    outline: 5px solid rgb(246, 209, 0);
  }
}
